@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .input {
    @apply block w-full mt-1 px-4 py-2  border-2 border-gray-300 dark:bg-gray-700 dark:border-gray-700;
  }
  .label {
    @apply font-semibold text-sm capitalize;
  }
  .btn {
    @apply py-3 w-full font-semibold bg-black hover:bg-gray-700 text-white dark:bg-sky-400 dark:hover:bg-sky-300 dark:text-black duration-300;
  }
  .btn-sm {
    @apply pt-2 pb-2.5 px-5 rounded-md border font-semibold bg-white hover:bg-gray-300 text-black dark:text-black dark:bg-sky-400 dark:hover:bg-sky-300 duration-300;
  }
  .btn-trans {
    @apply pt-2 pb-2.5 px-5 rounded-md font-semibold border bg-black text-white border-white  dark:text-sky-400 dark:border-sky-400 duration-300;
  }
  .btn-black {
    @apply pt-2 pb-2.5 px-5 rounded-md font-semibold bg-black hover:bg-gray-600 text-white dark:text-black dark:bg-sky-400 dark:hover:bg-sky-300 duration-300;
  }
}

@theme {
  --breakpoint-xs: 24rem;
}

.active button {
  opacity: 0.5;
}

button {
  cursor: pointer;
}
